/*===================
 media query
 /* ====================== */
 /* extra extra large */
 @media(min-width:1400){}
 /* ============== extra large ===============  */
  @media(min-width:1200)and(max-width:1399.98){}
  /* ============= large ==================== */
  @media(min-width:992)and(max-width:1199.98){}
  /* ============= medium ==================== */
  @media(min-width:768)and(max-width:991.98){}
  /* ============= small =================== */
  @media(min-width:576)and( max-width:767.98){}
  /* =========== extra small ============= */
  @media (max-width:575.98){
    .title-heiding {
        text-align: center;
    }
    .jaket-photo {
        width: 263px;
        
    }
  }